.container {
  margin: 0 auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
}

.menu li a:not(active):hover {
  background-color: skyblue;
  transition: 0.4s;
}

.content.active {
  display: block;
}

.content {
  display: none;
}
